.toBasket {
  padding: 10px;
  display: flex;
  align-items: center;
}  

.changeAmount, .addToBasket {
  margin: 0 5px;
  text-align: center;
  line-height: 26px;
  border: none;
  cursor: pointer;
}
.changeAmount {
  background-color: transparent;
  display: flex;
  /* width: 26px;
  height: 26px; */
  font-weight: 900;
  font-size: 20px;

}
