.basketIcon{
  cursor: pointer;
}

.basket{
  position: absolute;
  right: 25vw;
  top: 80px;
  width: 50vw;
  
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px rgba(56, 237, 6, 0.762);
}

.closeBasket {
  cursor: pointer;
  background-color: gray;
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary{
  margin: 5%;
  float: right;
}