/* * {
    border: 1px solid red;
} */

body {
     font-family: 'Nunito', sans-serif;
}

/************************************************************** Navbar START*/
#logo {
    width: 15vw;
    height: auto;
    border-radius: 50%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    background-color: #faf3c8;
}

#hamburger-menu {
    position: relative;
}

#nav-links {
    position: absolute;
    flex-direction: column;
    right: 0%;
    top: 37px;
    padding: 1em;
    background-color: #695847;;
    z-index: 1;
}

#nav-links > li {
    text-align: end;
    padding: 2px;
    list-style-type:none;
}

#nav-links > li > a{
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffbd59;
    transition: 0.3s ease-in-out;
}

#nav-links > li > a:hover{
    color: green;
}

#nav-links > li > a:active {
    color: blue;
}

.hide-section {
    display: none;
}

.show-section {
    display:flex;
}

#container {
  display: inline-block;
  cursor: pointer;
  margin-right: 7vw;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #5d3624;
  margin: 6px 0;
  transition: 0.4s;
}

.cross .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.cross .bar2 {opacity: 0;}

.cross .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/************************************************************** Navbar END*/

/************************************************************** Hero START*/
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/owner-with-langos.jpg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    height: 71vh;
    width: auto;
    color: #ffdead;
    text-align: center;
}

#hero-image {
    position: absolute;
    width: 45vw;
    height: auto;
    top: 0px;
    left: 50%;
}

header {
    margin-top: 170px;
    font-size: 25px;
    letter-spacing: 2px;
}

.red-letters {
    color: red;
}

.white-letters {
    color: white;
}

.green-letters {
    color: green;   
}

#introduction {
    padding: 7vw;
    color: azure;
}

/************************************************************** Hero END*/

/************************************************************** Services START*/

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align:center;
    /* background-color: #faf3c8; */
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/owner-with-langos.jpg'); */
    /* background-size: 100vw auto; */
    /* background-repeat: no-repeat; */
    /* height: vh;
    width: auto; */
}

#services-header {
    margin-top: 20px;
}

#services-description {
    text-align: justify;
    padding: 1em;
    letter-spacing: 1px;
    margin: 0;
}

#services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 5vw;
    width: 80%;
}

.services-logo {
    color:red;
}
