* {
    border: 1px solid red;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
#nav-links > li > a{
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
    transition: 0.3s ease-in-out;
    /* background-color: yellow; */
}

#nav-links > li > a:hover{
    color: green;
    /* background-color: yellow; */
}
#nav-links > li > a:active {
    color: blue;
    /* background-color: yellow; */
}
