/* * {
    border: 1px solid red;
} */

html, body {
     font-family: 'Arvo', serif;
     overflow-x: hidden;
     box-sizing: border-box;
}

#to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    right: 3%;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #ffdead;
    z-index: 2;
}

/************************************************************** Navbar START*/

header {
    /* margin-top: 30vw; */
    font-size: 22px;
    letter-spacing: 2px;
    padding: 0.3em;
}

.brand-header {
    font-family: 'Lobster', cursive;
    padding: 0.5em;
}

#navbar-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 99;
    box-shadow: 0 0px 10px
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#navbar-tablet {
    display: inline-flex;
    position: fixed;
    width: 30%;
    top: 0;
    height: 60px;
    align-items: center;
    background-color: white;
    z-index: 100;
}

#nav-links {
    position: fixed;
    top: 60px;
    width: 100vw;
    margin-block-start: 0;
    flex-direction: column;
    background-color: black;
    z-index: 99;
    padding-inline-start: 0;
    padding-block: 0.7em;
}
#nav-links-tablet {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 30%;
    width: 70%;
    height: 60px;
    margin-block-start: 0;
    font-size: 20px;
    z-index: 100;
    background-color: white;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#nav-links > li {
    text-align: end;
    padding: 5px;
    list-style-type:none;
}

#nav-links-tablet > li {
    text-align: center;
    justify-content: center;
    padding: 0.6vw;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 0.6vw;
}

#nav-links > li > a{
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    transition: 0.3s ease-in-out;
}

#nav-links-tablet > li > a:hover{
    color: red
}

#nav-links-tablet > li > a:active {
    color: green;
}

.hide-section {
    display: none;
}

.show-section {
    display:flex;
}

#container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 7vw;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #36251d;
  margin: 4px 0;
  transition: 0.4s;
}

.cross .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.cross .bar2 {opacity: 0;}

.cross .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/************************************************************** Navbar END*/

/************************************************************** Hero START*/
#hero {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1574484284002-952d92456975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: auto;
    color: white;
    text-align: center;
}

#hero-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 7vw;
}

#letter-icon {
    width: 8px;
}

hr {
    display: inline-block;
    width: 7vw;
    margin: 0;
    border: 0;
}

#hero-image {
    position: absolute;
    width: 45vw;
    height: auto;
    top: 0px;
    left: 50%;
}

.red-letters {
    color: red;
}

.white-letters {
    color: white;
}

.green-letters {
    color: green;   
}

#introduction {
    margin: 0 auto;
    width: 75vw;
    text-align: justify;
    letter-spacing: -1px;
}

#introduction-tablet {
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0 auto;
    width: 75vw;
    text-align: justify;
}

#introduction-laptop {
    letter-spacing: 0px;
    font-size: 22px;
    margin: 0 auto;
    width: 60vw;
    text-align: left;
}

 #introduction::after, #introduction-tablet::after {
    display: block;
    width: 100%;
    height: 20vh;
    content: '';
 }

/************************************************************** Hero END*/

/************************************************************** Separator START*/

#hero-logo {
    width: 60px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.logo-laptop {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.separator {
    margin: 3em auto 2em auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 5px;
    width: 80vw;
    background-color: #deb06c;
    border-radius: 50%;
}

.separator-laptop {
    margin: 3em auto 4em auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 7px;
    width: 90vw;
    background-color: #deb06c;
    border-radius: 50%;
}

.separator-logo {
    position: absolute;
    top: -350%;
    display: flex;
    justify-content: center;
    width: 20vw;
    height:auto;
    background-color: white;
}

.separator-logo-laptop {
    position: absolute;
    /* top: -350%; */
    display: flex;
    justify-content: center;
    width: 15vw;
    height: auto;
    background-color: white;
    bottom: -37px;
}

/************************************************************** Separator END*/

/************************************************************** FoodGroups START*/

a, a:hover, a:focus, a:active, a:visited {
      text-decoration: none;
      color: inherit;
 }

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align:center;
}

.card-class-tablet:hover {
    cursor: pointer;
}

#services-description {
    text-align: justify;
    padding: 1em;
    letter-spacing: 0px;
    margin: 0;
}

#left-arrow-food-group, #right-arrow-food-group{
    top: 58%;
}

.cards-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-class-tablet {
    display: flex;
    position: relative;
    /* overflow-x: scroll; */
    flex-direction: row !important;
    /* padding-left: 5vw; */
    transition: 1s;
}

.group-card-tablet {
    border: 3px solid #deb06c;
    border-radius: 25px;
    margin: 0 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vw;
    width: 75%;
    border: 3px solid #deb06c;
    padding: 6vw;
    border-radius: 25px;
}

.card-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 3px solid #deb06c;
    padding: 15px 30px;
    border-radius: 25px;
}

.services-logo {
    color:red;
}

.card-description {
    margin: 10px 0;
    text-align: justify;
    letter-spacing: 1px;
}

.card-description-tablet {
    margin: 15px 0;
    text-align: start;
    letter-spacing: -1px;
    width: 250px;
}

.button {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #ffdead;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}

/************************************************************** FoodGroups END*/

/************************************************************** Products START*/

.slidable-cards {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    overflow-x: auto;
    flex-direction: row !important;
    /* padding-left: 5vw; */
    transition: 1s;
}

#street-food {
    position: relative;
}

.nav-arrow {
    top: 38%;
    display: flex;
    /* visibility: hidden; */
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 60px;
    width: 60px;
    font-size: 30px;
    font-weight: bold;
    background-color:rgba(255, 222, 173, 0.3);
    z-index: 99;
    transition: 0.5s
}

.nav-arrow:hover {
    cursor: pointer;
    background-color:rgba(255, 222, 173, 0.8);
}

#right-arrow, #right-arrow-food-group {
    right:0;
    border-radius: 25px 0 0 25px
}

#right-arrow:hover {
    cursor: pointer;
    background-color:rgba(255, 222, 173, 0.8);
}

#left-arrow, #left-arrow-food-group {
    border-radius: 0 25px 25px 0
}

.food-photo {
    height: 70vw;
    width: 70vw;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.food-photo-tablet {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    width: 75%;
    padding: 6vw;
    border-top: 2px solid green;
    border-bottom: 2px solid red;
}

.food-card-tablet, .group-card-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 2px; */
    width: 75%;
    padding: 15px 35px;
}

.hidden {
    display: none;
}

.first-group-card {
    border-top: none !important;
}

.last-group-card {
    border-bottom: none !important;
}

.food-card-description {
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.price {
    color:white;
    padding: 5px 10vw;
    background-color: #b46f06;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: bold;
}

.drink-photo {
    background-image: url('./images/drinks.jpg');
    height: 70vw;
    width: 70vw;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

/************************************************************** Products END*/

/************************************************************** Location START*/

#location {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#location-text {
    width: 60vw;
}

#location-header {
    text-align: center;
    font-size: 30px;
}

#google-map {
    width: 260px;
    height: auto;
    margin-top: 15px;
}

#google-map-tablet {
    width: 320px;

    height: auto;
    margin-top: 80px 0;
}

/************************************************************** Location END*/

/************************************************************** Footer START*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 0 auto;
    padding: 0.7em 0;
}

#opening-hours {
    display: grid;
    grid-template-columns: auto auto;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid black; */
}

#opening-hours > div {
    text-align: center;
    padding: 0.2em;
}

#footer-icons {
    width: 100vw;
    /* border-top: 1px solid black; */
}

.contact-logo {
    padding: 20px 0 20px 12vw;
    /* font-size: 20px; */
}

.c-icon {
    margin-right: 3vw;
    padding: 0.7em;
}

#brand {
    margin-left: 2vw;
}

#brand-logos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 15px;
    justify-content: center;
    padding: 1em 0;
    border-top: 1px solid black;
    width: 100%;
    border-bottom: 1px solid black;
}

.brand-logo {
  padding: 0 5vw;
  font-size: 30px;
  text-align: center;
}

#copyright {
    padding: 1em;
}

@media screen and (min-width: 1024px) {

    body {
        font-size: 20px;
    }

  header {
    font-size: 28px;
  }

  .price {
    padding: 5px 60px;
  }

  .slidable-cards {
    width: 65%;
    margin: 0 auto;
  }

  #location {
    margin-top: 70px;
    font-size: 23px;
  }
  
  #google-map-tablet {
    width: 60%;
    height: 400px;
  }

  #brand-logos {
    justify-content: end;
  }

  .brand-logo {
    padding: 0 1.5vw;
  }

  #copyright {
    font-size: 14px;
  }
}
